.quienes {
    background-image: url(https://i.postimg.cc/LYvPzvVT/fondo3.jpg);
    background-color: #474747;
    background-blend-mode: soft-light;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
  }